*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
#BMI{
    height: 100vh;
    width: 100%;
    background-image: url(images/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}
#box{
    border-color: black;
    border-style: solid;
    width: 50%;
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: white;
}
h1{
    margin-top: 20px;
}
#height{
    height: 16px;
    width: 25%;
}
#weight{
    height: 16px;
    width: 25%;
}
#result{
    color: blue;
}
.text{
    padding: 10px;
}
#btn{
    height: 25px;
    width: 100px;
    background-image: url(images/background.png);
    background-size: cover;
    color: white;
}
#source-code{
    position: fixed;
    text-decoration: none;
    width: 80%;
    left: 10%;
    bottom: 2px;
}